In [1]:
#Importamos las librerías
import sys
import subprocess
import pkg_resources

required  = {'numpy', 'pandas', 'sqlalchemy', 'chardet', 'sqlalchemy', 'pathlib', 'datefinder', 'datetime', 'openpyxl'} 
installed = {pkg.key for pkg in pkg_resources.working_set}
missing   = required - installed

if missing:
    subprocess.check_call([sys.executable, '-m', 'pip', 'install', *missing])

In [99]:
#importamos librerías 
import pandas as pd
import numpy as np
import json
import csv
import sys
import pip
import os
import pathlib
import datetime
import datefinder
from sqlalchemy.orm import Session 
from sqlalchemy.ext.automap import automap_base
from openpyxl import Workbook
!pip install fastparquet

Requirement already satisfied: fastparquet in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (0.8.3)
Requirement already satisfied: fsspec in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from fastparquet) (2022.10.0)
Requirement already satisfied: packaging in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from fastparquet) (21.3)
Requirement already satisfied: cramjam>=2.3.0 in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from fastparquet) (2.5.0)
Requirement already satisfied: pandas>=1.1.0 in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from fastparquet) (1.4.3)
Requirement already satisfied: numpy>=1.18 in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from fastparquet) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.1.0->fastparquet) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from packaging->fastparquet) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.1.0->fastparquet) (1.16.0)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

VAMOS A CONVERTIR TODOS LOS ARCHIVOS A UN SOLO FORMATO

In [19]:
# Pasamos json a csv
df_0503 = pd.read_json(r'C:\Users\Juan\Desktop\PROYECTO INDIVIDUAL\PI01_DATA_ENGINEERING\Datasets\Datasets relevamiento precios\precios_semana_20200503.json')
df_0503.to_csv(r'C:\Users\Juan\Desktop\PROYECTO DE PYTHON\s20200503.csv', index = None)


# Pasamos excel a csv, este tiene dos hojas por lo tanto se concatena
df_0419_0426 = pd.read_excel(r'C:\Users\Juan\Desktop\PROYECTO INDIVIDUAL\PI01_DATA_ENGINEERING\Datasets\Datasets relevamiento precios\precios_semanas_20200419_20200426.xlsx', sheet_name=None)
df_0419_0426 = pd.concat(df_0419_0426, ignore_index=True)
df_0419_0426.to_csv(r'C:\Users\Juan\Desktop\PROYECTO DE PYTHON\s20200419_0426.csv', index=None)

# Pasamos archivo parquet a csv
df_producto = pd.read_parquet(r'C:\Users\Juan\Desktop\PROYECTO INDIVIDUAL\PI01_DATA_ENGINEERING\Datasets\Datasets relevamiento precios\producto.parquet', engine='fastparquet')
df_producto.to_csv(r'C:\Users\Juan\Desktop\PROYECTO DE PYTHON\precios.csv', index=None)

# Pasamos de texto a csv 
df_0518 = pd.read_csv(r"C:\Users\Juan\Desktop\PROYECTO INDIVIDUAL\PI01_DATA_ENGINEERING\Datasets\Datasets relevamiento precios\precios_semana_20200518.txt", sep = "|")
df_0518.to_csv(r'C:\Users\Juan\Desktop\PROYECTO DE PYTHON\s20200518.csv', index=None)

In [50]:
#guardamos precios semana 0413 en otro documento que luego leemnos
df_0413 = pd.read_csv(r"C:\Users\Juan\Desktop\PROYECTO INDIVIDUAL\PI01_DATA_ENGINEERING\Datasets\Datasets relevamiento precios\sem8.csv")

In [51]:
#verificamos la cantidad de nulos para df_0413
df_0413.isna().sum()

precio         13
producto_id    15
sucursal_id    15
dtype: int64

In [48]:
#leemos sucursal 
df_sucursal = pd.read_csv(r"C:\Users\Juan\Desktop\PROYECTO INDIVIDUAL\PI01_DATA_ENGINEERING\Datasets\Datasets relevamiento precios\sucursal.csv")

In [32]:
#verificiamos la cantidad de nulos para df_sucursal
df_sucursal.isna().sum()

id                     0
comercioId             0
banderaId              0
banderaDescripcion     0
comercioRazonSocial    0
provincia              0
localidad              0
direccion              0
lat                    0
lng                    0
sucursalNombre         0
sucursalTipo           0
dtype: int64

In [26]:
#verificiamos la cantidad de nulos para df_0419_0426
df_0419_0426.isna().sum()

precio          3543
sucursal_id        0
producto_id    13519
dtype: int64

In [27]:
#verificiamos la cantidad de nulos para df_0518
df_0518.isna().sum()

precio         1960
producto_id       6
sucursal_id       6
dtype: int64

In [28]:
#verificiamos la cantidad de nulos para df_producto
df_producto.isna().sum()

id                  0
marca               2
nombre              2
presentacion        2
categoria1      72034
categoria2      72034
categoria3      72034
dtype: int64

In [29]:
#verificiamos la cantidad de nulos para df_0503
df_0503.isna().sum()

precio         0
producto_id    0
sucursal_id    0
dtype: int64

COMO VEMOS LOS DATOS NULOS NO SON MUCHOS EN COMPARACIÓN A LA CANTIDAD TOTAL DE DATOS, POR LO TANTO  PASAREMOS A CREAR LA DATA BASE

In [55]:
#importanto liberías
import mysql.connector

In [59]:
#Creabdo la db que llamaremos mydatabase en MySQL
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="#tommy30"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [68]:
#establenciendo la conexión para agregación de tablas 
engine = create_engine("mysql+mysqldb://root:#tommy30@localhost:3306/mydatabase")
session = Session(engine)
Base = declarative_base()

In [62]:
#importando librerías
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String, create_engine, Table, MetaData

In [76]:
# insertamos tabla producto en la db mydatabase
df_producto.to_sql('producto',con = engine, if_exists='append')

72038

In [82]:
# insertamos tabla df_0413 en la db mydatabase
df_0413.to_sql('precios_sem',con = engine, if_exists='append')

472166

In [78]:
# insertamos tabla sucursal en la db mydatabase
df_sucursal.to_sql('sucursal',con = engine, if_exists='append')

2333

In [83]:
# insertamos tabla df_0419_0426 en la db mydatabase
df_0419_0426.to_sql('precios_sem',con = engine, if_exists='append')

937452

In [85]:
# insertamos tabla df_0503 en la db mydatabase
df_0503.to_sql('precios_sem',con = engine, if_exists='append')

DataError: (MySQLdb.DataError) (1265, "Data truncated for column 'precio' at row 890")
[SQL: INSERT INTO precios_sem (`index`, precio, producto_id, sucursal_id) VALUES (%s, %s, %s, %s)]
[parameters: ((0, 29.9, '0000000002288', '2-1-187'), (1, 39.9, '0000000002288', '2-3-247'), (2, 499.99, '0000000205870', '9-1-685'), (3, 539.99, '0000000205870', '9-2-22'), (4, 519.99, '0000000205870', '9-2-59'), (5, 539.99, '0000000205870', '9-3-138'), (6, 589.99, '0000000205894', '9-1-685'), (7, 189.99, '0000000205955', '9-1-685')  ... displaying 10 of 397734 total bound parameter sets ...  (397732, 312.5, 9990385651939, '5-1-5'), (397733, 198.9, 9990385651946, '5-1-5'))]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [86]:
# insertamos tabla df_0518 en la db mydatabase
df_0518.to_sql('precios_sem',con = engine, if_exists='append')

415293

In [88]:
#instalando libería pandasql
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from pandasql) (1.22.4)
Requirement already satisfied: pandas in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from pandasql) (1.4.3)
Requirement already satisfied: sqlalchemy in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from pandasql) (1.4.42)
Requirement already satisfied: pytz>=2020.1 in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy->pandasql) (1.1.3.post0)
Requirement already satisfied: six>=1.5 in c:\users\juan\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Using legacy 'setup.py install' for pandasql, since package 'wheel' is not installed.
Installing collected packages: pandasql
  Running setup.py install for pandasql: started
  Running setup.py install for pandasql: finished with status 'done'
Successfully installed pandasql-0.7.3

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [89]:
from pandasql import sqldf

In [96]:
sql_sentencia = """select avg(precio) as promedioprecio
                from precios_sem
                where sucursal_id like "9_1_688"""

In [97]:
a= sqldf(sql_sentencia)

PandaSQLException: (sqlite3.OperationalError) unrecognized token: ""9_1_688"
[SQL: select avg(precio)
                from precios_sem
                where sucursal_id = "9_1_688]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [101]:
#db_engine = sqlalchemy.create_engine('sqlite:///DataBase.db')
#session = Session(db_engine)
#Base = sqlalchemy.ext.automap.automap_base()
#Base.prepare(db_engine, reflect=True)
Table_Name = Base.classes.keys
pd.read_sql_table('precios_sem',db_engine,index_col=False)

AttributeError: type object 'Base' has no attribute 'classes'